@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Archivo", sans-serif;
  background-color: rgb(209, 209, 209);
}

a {
  color: #000;
}

::-moz-selection {
  color: #000;
  background-color: #f74e4e;
}

::selection {
  color: #000;
  background-color: #f74e4e;
}

#repo-output {
  display: flex;
  flex-wrap: wrap;
}

/* 
  box shadow effect on hover from: https://codepen.io/ovdojoey/pen/BomKyZ
*/
.repo-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #000;
  width: 400px;
  transition: box-shadow 0.3s;
}

.repo-card:hover {
  box-shadow: 0 0 20px #21212133;
}

.repo-card a:hover {
  color: #e60000;
  font-weight: 600;
}
